/* Override this file with custom rules */


body {
  padding: 0 20px;
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h3.inherited {
  font-style: italic;
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 3px;
  font-size: 15px;
  line-height: 1.5;
}

.note.title { padding: 1px 5px; font-size: 0.9em; font-family: Tahoma, Verdana, Arial, sans-serif; 

